<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
         <!-- <h4 class="text-center"><%= @alert_message %></h4> -->
        <ul class="list-inline text-center card-frame">
          <li>
            <div class="card">
              <div class="front">
                <!-- PARAMETRER LE RESPONSIVE BOOTSTRAP -->
                  <!-- <div class="col-sm- col-xs-4 col-md-3"> -->
                <div class="card-hiragana ">
                  <h1><b><%= @symbole.hiragana_value  %></b></h1>
                </div>
                <div class="card-katakana">
                  <p><%= @symbole.hiragana_value  %></p>
                </div>
                <!-- </div> -->
              </div>
              <div class="back">
                <div class="col-sm-3 col-xs-4 col-md-3">
                    <div class="backcard-hiragana">
                      <h1><b><%= @symbole.hiragana_value  %></b></h1>
                    </div>
                    <div class="card-bigletter">
                      <p><%= @symbole.fr  %></p>
                    </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="text-center">
          <%= link_to 'Edit', edit_symbole_path(@symbole), class: "btn btn-default" %>
          <%= link_to 'Back', symboles_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <p id="notice"><%= notice %></p> -->


