<div class="coverhome">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
           <%=image_tag("synestasia-title.png", alt: "synestasia", class: 'synestasia-title' )%>
            <h1>
              L'approche synestésique
            </h1>
            <h1>
              une révolution pédagogique
            </h1>

          <ul class="list-unstyled list-inline">
            <li>
              <%= link_to about_path do %>
              <div class="about-button">
                <h5>À propos</h5>
              </div>
              <% end %>
            </li>
            <li>
              <%= link_to start_path do %>
                <div class=" about-button start-button">
                  <h5>Découvrir</h5>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" cover-slide-two ">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">
        <h1>Inscrivez-vous à une Demo class !</h1>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ul class="list-unstyled list-inline">
            <li class="training-section">
              <%= link_to "Je m'inscris", "https://synestasia.typeform.com/to/uC5mPL", class:'subscribe-button subscribe-democlass', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-slide-three">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">
        <h1>Stage à Tokyo</h1>
          <h2>(Bientôt)</h2>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="training-section">
              <%= link_to "En savoir plus", "https://synestasia.typeform.com/to/jwIhSA", class:'subscribe-button subscribe-training', target: '_blank' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>






