<div class="row">
  <div class= "col-md-8 col-md-offset-2 form-post">
    <h3 class="text-center">Créer/Modifier un article</h3>
      <%= simple_form_for @post do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, label: 'Title', input_html: { class: "input-lg"} %>
      <%= f.association :category %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :cover %>
      </div>
    </div>
      <%= f.input :introduction, label: 'Introduction', input_html: { rows: 5} %>
      <%= f.input :body, label: 'Body', placeholder: "Tapez ici votre article", input_html: { rows: 5, id: "post_content"} %>
    <div class="text-center">
      <%= f.submit "Publier l'article maintenant", class: "btn btn-danger btn-lg" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


