<div class="container-login">
  <div class="container-fluid">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2">
        <div class="form-login">
          <div class=" form-bg form-one">
            <div class="tiny-space">
              <h4 class="text-center">Sélectionnez un Pays</h4>
                <div class="mini-space">
                  <%= simple_form_for [@category] do |f| %>
                  <%= f.error_notification %>
                  <%= f.input :name %>
                  <%= f.submit "Ajouter", class: "btn btn-default" %>
                  <% end %>
                </div>
              <h4 class="second-button">
                <%= link_to '< Retour', :back, class: "btn btn-default" %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
