<!DOCTYPE html>
<html>
<head>
  <title>SynestasiaApp</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= yield :javascript %>
  <!-- Simplemde -->
  <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>-->

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
